.maincontainer{
    width: 100%;
    padding: 20px 20px;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     
}

.Third{
     font-size: x-large;
}
 h3{
     font: 15px;
 }

 .option{
     display: flex;
     flex-direction: column;
     gap: 30px;
     font-size: 20px;
 }

  .lastpara{
  
     display: flex;
     gap: 20px;
     
  }
  
 .last{
    display: flex;
     flex-direction: column;
     gap: 30px;
     font-weight: bold;
    
 }

 .para{
    display: flex;
    flex-direction: column;
    gap: 30px;
 }